html
	head
		link(rel='stylesheet', href='stylesheets/bootstrap.css')
		link(rel='stylesheet', href='stylesheets/style.css')
		title Furiosas Auto Shop
		block head
	body
		.container
			.nav
				ul.nav.nav-pills
					li
						a(href='/') Home
					li
						a(href='/services') Services
					li
						a(href='/models') Models
					li
						a(href='/reviews') Reviews
				hr
			block body
