extends _shared

block body
	.models
		
		case sort 
			when 'ascending'
				- models =  models.sort();
			when 'descending'
				- models =  models.sort().reverse();


		.filters
			ul.nav.nav-pills
					li
						a(href='/models/ascending') Ascending
					li
						a(href='/models/descending') Descending
					li
						a(href='/models') Clear

		for model in models
			h4= model
