extends _shared

block body
	.reviews
		h2 Customer reviews

		//- Implement search here
		for review in customerReviews
			blockquote
				p= review.content
				footer= review.source


		h2 Corporate reviews
		for review in corporateReviews
			blockquote
				p= review.content
				footer= review.source
