extends _shared

block body
	.services
		h2 Services we provide

		div.filter-holder.well
			p Filter by type:
			a.clear-filter(href='/services/') clear
			ul.nav.nav-pills
				for type in uniqueTypes
					li
						a(href='/services/'+type)= type

		div.row
			for service in services
				div.col-xs-12.col-md-6.service
					div.row
						h4.col-xs-8= service.job
						p.col-xs-4.cost= service.cost
						p.type= service.type

